*{margin:0px; padding:0px;}

body{
background:#ebebeb;
}

header{
  height:40px;
  width: 100%;
  background: #53D86A;
}

.a{
  height: 70vh;
  width: 100%;
  background: #fff;
}



.box{
  height: 50vh;
  background: #fff;
  margin: 10px auto;
  border:1px solid #ebebeb;
  display: flex;
  align-items: center;
  justify-content: space-around;

}

#txt{
  margin: 10px;
}

#txt:focus{
  outline-color: #53D86A;
}


#submit{
  background: #53D86A;
  color:#fff;
}
